## Employee Data Analysis

In [6]:
import numpy as np
from numpy import genfromtxt

emp_data = genfromtxt('DS1_C4_S1_Employee_Data_Challenge.csv', delimiter = ',', skip_header = 1)
print(emp_data)

[[ 1. 22.]
 [ 2. 27.]
 [ 3. 31.]
 [ 4. 29.]
 [ 5. 27.]
 [ 6. 26.]
 [ 7. 27.]
 [ 8. 23.]
 [ 9. 27.]
 [10. 32.]
 [11. 28.]
 [12. 27.]
 [13. 22.]
 [14. 27.]
 [15. 35.]
 [16. 33.]
 [17. 28.]
 [18. 22.]
 [19. 25.]
 [20. 27.]
 [21. 37.]
 [22. 27.]
 [23. 24.]
 [24. 27.]
 [25. 28.]
 [26. 26.]
 [27. 27.]
 [28. 27.]
 [29. 29.]
 [30. 49.]
 [31. 26.]
 [32. 32.]
 [33. 26.]
 [34. 24.]
 [35. 24.]
 [36. 23.]
 [37. 28.]
 [38. 28.]
 [39. 22.]
 [40. 26.]
 [41. 32.]
 [42. 35.]
 [43. 33.]
 [44. 31.]
 [45. 30.]
 [46. 36.]
 [47. 22.]
 [48. 23.]
 [49. 32.]
 [50. 34.]]

In [11]:
# Task 1 

age = emp_data[:,1]
avg_age = np.mean(age)
print("The Average age of employees in the firm is:", avg_age, "Years")

The Average age of employees in the firm is: 28.26 Years

In [17]:
# Task 2

emp_id = emp_data[:,0]
print("Employee IDs:\n", emp_id)

index = np.where(age >25)
emp_over_25 = emp_id[index]
print("\n\nEmployee ID of employees over 25 years of age:\n", emp_over_25)

#Find the count of these employees 

print("\n\nThe total number of employees over 25 years of age is:", emp_over_25.size)

Employee IDs:
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.]


Employee ID of employees over 25 years of age:
 [ 2.  3.  4.  5.  6.  7.  9. 10. 11. 12. 14. 15. 16. 17. 20. 21. 22. 24.
 25. 26. 27. 28. 29. 30. 31. 32. 33. 37. 38. 40. 41. 42. 43. 44. 45. 46.
 49. 50.]


The total number of employees over 25 years of age is: 38

In [28]:
# Task 3

age_group_index = np.where((age>30) & (age<35))
employees = emp_id[age_group_index]
print("Employee Ids of age group 30-35 Years is:\n", employees)

#Calculate total number of employees in this age group

print("\n\nTotal number of Employees in age group 30-35 Years is:", employees.size)

Employee Ids of age group 30-35 Years is:
 [ 3. 10. 16. 32. 41. 43. 44. 49. 50.]


Total number of Employees in age group 30-35 Years is: 9