## ABC Technologies - IT Consulting

In [1]:
import numpy as np

In [8]:
## Task 1 

HR = np.arange(1,4)
IT = np.arange(4,19)
Finance = np.arange(19,24)
Sales= np.arange(24,31)


print("HR:", HR)
print("IT:", IT)
print("Finance:",Finance)
print("Sales:",Sales)

HR: [1 2 3]
IT: [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Finance: [19 20 21 22 23]
Sales: [24 25 26 27 28 29 30]

In [11]:
## Task 2

hr_sal = [50,60,57]

it = [67]
it = it * 15
it_sal = np.array(it)

fin_sal = [60,65,50,70,87]

sales_sal = [50,60,65,90,56,65,71]

print("HR Dept (Salary in thousand dollars):", hr_sal)
print("IT Dept (Salary in thousand dollars):", it_sal)
print("Finance Dept (Salary in thousand dollars):", fin_sal)
print("Sales Dept (Salary in thousand dollars):", sales_sal)

HR Dept (Salary in thousand dollars): [50, 60, 57]
IT Dept (Salary in thousand dollars): [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
Finance Dept (Salary in thousand dollars): [60, 65, 50, 70, 87]
Sales Dept (Salary in thousand dollars): [50, 60, 65, 90, 56, 65, 71]

In [29]:
## Task 3

# Dept-wise avg salary

avg_hr = np.mean(hr_sal)
print("Average salary expense in HR Department:", avg_hr)

avg_it = np.mean(it_sal)
print("Average salary expense in IT Department:", avg_it)

avg_fin = np.mean(fin_sal)
print("Average salary expense in Finance Department:", avg_fin)

avg_sales = np.mean(sales_sal)
print("Average salary expense in Sales Department:", avg_sales)

print("\n\nIT Department has the highest average salary expense on its employees with",avg_it,"thousand dollars")

Average salary expense in HR Department: 55.666666666666664
Average salary expense in IT Department: 67.0
Average salary expense in Finance Department: 66.4
Average salary expense in Sales Department: 65.28571428571429


IT Department has the highest average salary expense on its employees with 67.0 thousand dollars

In [34]:
## Task 4

highest_sal = np.max(hr_sal)
print("Highest salary in HR Department is:", highest_sal,"thousand dollars")

high_sal = np.max(fin_sal)
print("Highest salary in Finance Department is:", high_sal,"thousand dollars")

Highest salary in HR Department is: 60 thousand dollars
Highest salary in Finance Department is: 87 thousand dollars

In [46]:
## Task 5 

New_sal = it_sal + (it_sal * 0.05)
print("The updated salary after adding 5% bonus to the gross salary of IT Dept is:\n\n", New_sal)

The updated salary after adding 5% bonus to the gross salary of IT Dept is:

 [70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35
 70.35 70.35 70.35]