## Used Cars Sale Analysis

In [1]:
import numpy as np

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [27]:
# Task 1

price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
index = range(101,121)
car_price = pd.Series(price, index = index)
car_price

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [40]:
# Task 2

max_indx = car_price.idxmax()
min_indx = car_price.idxmin()

max_price = car_price[max_indx]
min_price = car_price[min_indx]

print("Highest price car: index={}, Price={}".format(max_indx, max_price))
print("Lowest price car: index={}, Price={}".format(min_indx, min_price))

Highest price car: index=114, Price=93947
Lowest price car: index=104, Price=30660

In [49]:
# Task 3

desc = car_price.sort_values(ascending = False)

print("Top 5 cars with highest value are:\n", desc.head())

Top 5 cars with highest value are:
 114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

In [53]:
# Task 4

price_range = car_price[(car_price>30000) & (car_price<40000)]
print("Cars priced between 30000 and 40000 are:\n", price_range)

Cars priced between 30000 and 40000 are:
 103    37077
104    30660
111    39967
dtype: int64

In [67]:
# Task 5

avg = car_price.mean()

above_avg_cars = car_price[car_price> avg]
print("Cars priced above the average price of", avg, "are:\n" ,above_avg_cars)

Cars priced above the average price of 60511.8 are:
 101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [76]:
# Task 6

new_list = pd.Series([34000, 45000,54000], index= [201,202,203])

updated_list =pd.concat([car_price, new_list])
print("New cars list after adding three cars is:\n",updated_list)

New cars list after adding three cars is:
 101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

In [97]:
# Task 7

price_above_60k = updated_list[updated_list>60000]
print("Cars above 60000 BEFORE discount:\n", price_above_60k)
# 20% discount on car prices above 60000

discounted_price = price_above_60k * 0.8

print("\nCars above 60000 AFTER 20% discount:\n",discounted_price)

Cars above 60000 BEFORE discount:
 101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

Cars above 60000 AFTER 20% discount:
 101    64096.8
105    54828.8
107    62962.4
112    75057.6
114    75157.6
115    62698.4
116    50212.0
120    66557.6
dtype: float64

In [117]:
# Visual representation of Original price and Discounted price

a = {'Original Price': price_above_60k, 'Discounted Price': discounted_price}
b = pd.DataFrame(a) 
b

     Original Price  Discounted Price
101           80121           64096.8
105           68536           54828.8
107           78703           62962.4
112           93822           75057.6
114           93947           75157.6
115           78373           62698.4
116           62765           50212.0
120           83197           66557.6

In [121]:
# Task 8

# Take backup of the list before deleting data 
backup = updated_list.copy()

#Delete from backup list
final_list = backup.drop(labels = discounted_price.index)
print("New list after removing all discounted cars as they are sold out:\n\n", final_list)


print("\nTotal count of all the cars available before the sale are:", updated_list.size)
print("Total count of all remaining cars after the sale are:", final_list.size)

New list after removing all discounted cars as they are sold out:

 102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64

Total count of all the cars available before the sale are: 23
Total count of all remaining cars after the sale are: 15